html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  background: #222;
}

@keyframes pulsing {
  0%   { transform: scale(0.9); }
  100% { transform: scale(1.2); }
}

#play {
  animation: pulsing 0.8s infinite alternate;
}
